.toast {
    display: flex;
    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 0;
    height: fit-content;
    border-radius: var(--border-radius);
    background-color: var(--success-color);
    padding: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.6s;
    z-index: 5000;
    cursor: pointer;
}

.toast.error {
    background-color: var(--error-color);
}

.toast.active {
    transform: translateY(0);
    opacity: 1;
}

.toast>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--on-success-color);
}

.toast.error>p {
    color: var(--on-error-color);
}

@media screen and (max-width: 1024px) {
    .toast {
        width: calc(100% - 72px);
        text-align: center;
    }
}