.toast {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius);
    background-color: var(--color-success);
    color: var(--color-on-success);
    padding: 16px;
    max-height: 200px;
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
    width: fit-content;
    flex-shrink: 0;
    transition:
        max-height 0.2s,
        padding 0.3s,
        margin-top 0.3s;

    @media screen and (max-width: 1024px) {
        & {
            width: 100%;
            gap: 16px;
        }
    }

    &.entering,
    &.hidden {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }

    & > span {
        font-size: 14px;
        font-weight: 500;
    }

    &.error {
        background-color: var(--color-error);
        color: var(--color-on-error);
    }
}

.toasts {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .toasts {
        padding: 20px;
    }
}
