/* Global header rules */

.panel .header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Top bar rules */

.panel .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-direction: row;
    width: 100%;
}

/* Actions bar rules */

.panel .top-bar>.install {
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    height: 45px;
    box-sizing: border-box;
    width: 45px;
}

.panel .top-bar>.install:hover {
    background-color: var(--neutral-color-light);
}

.panel .top-bar>.install .badge {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-left: 12px;
    margin-top: 12px;
    display: none;
}

/* Branding rules */

.panel .header .branding {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panel .header .branding>h1 {
    font-size: 20px;
    font-weight: 900;
    margin-block: 0;
}

.panel .header .branding>img {
    height: 30px;
    width: auto;
    border-radius: 10px;
}

/* Campus banner rules */

.panel .header .campus {
    width: 100%;
    height: 130px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.panel .header .campus>.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel .header .campus>.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.panel .header .campus>.legend {
    position: absolute;
    bottom: 16px;
    left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

@media screen and (max-height: 900px) {
    .panel .header .campus {
        height: 110px;
    }
}