#auth #login {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 498px) {
        height: 100%;
    }

    & h2 {
        color: var(--color-neutral-dark);
        margin-block: 0;
        margin-bottom: 24px;
        text-align: center;

        @media screen and (max-width: 498px) {
            height: 15%;
        }
    }

    & .error {
        background: var(--color-error);
        border-radius: var(--border-radius);
        padding: 16px;
        color: var(--color-on-error);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    & .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    & .input-container {
        display: flex;
        gap: 12px;
        align-items: center;

        & > input {
            flex-grow: 1;
        }
    }

    & .actions {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 498px) {
            & > button {
                width: 100%;
            }
        }
    }
}
