body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
main {
    height: 100%;
    min-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    touch-action: pan-x pan-y;
}

main {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf #ffffff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --border-color: #F0F0F0;
    --sub-border-color: #E1E1E1;
    --border-radius: 12px;
    --accent-color: #3452FF;
}

.pannel {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    width: 22%;
    height: calc(100% - 48px);
    min-width: 350px;
    gap: 24px;
    overflow: hidden;
    background-color: white;
    z-index: 10;

    border-right: 2px solid var(--border-color);
    border-radius: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}


.calendar {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 78%;
    gap: 34px;
}

.loader-indicator {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    z-index: 5;
}

.spin {
    width: 28px;
    height: 28px;
    border: 5px solid var(--accent-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
}

.campus {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@keyframes showing {
    0% {
        outline: 2px solid var(--accent-color);
        outline-offset: 2px;
    }

    100% {
        outline: 2px solid transparent;
        outline-offset: 8px;
    }
}

.campus_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 8px 12px 8px 8px;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    height: 45px;
    box-sizing: border-box;
    width: calc(100% - 90px - 24px);
}

.campus_selector>p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    width: 100%;
}

.header>.version,
.header>.install {
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    height: 45px;
    box-sizing: border-box;
    width: 45px;
}

.header>.version>img,
.header>.install>img {
    height: 16px;
    width: auto;
}

.header>.version:hover,
.header>.install:hover {
    background-color: #f8f8f8;
}

.header>.install .badge {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-left: 12px;
    margin-top: 12px;
}

.campus_selector>img {
    height: 25px;
    width: auto;
    border-radius: 6px;
}

.campus_feed {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.campus_feed>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.campus_feed_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.campus_feed_content>p {
    opacity: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.campus_feed_content>p:last-child {
    opacity: 1;
}

.campus_feed_content>p:nth-last-child(2) {
    opacity: 0.8;
}

.campus_feed_content>p:nth-last-child(3) {
    opacity: 0.2;
}

.actions_selector {
    display: flex;
    flex-direction: row;
    width: calc(100% - 16px);
    padding: 8px;
    background-color: #e2e2e2;
    border-radius: 16px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    border-radius: 10px;
    height: 40px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
}

.action.tab-active {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}


.actions_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.actions_container>div {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    overflow: hidden;
    position: relative;
}

.displayed {
    display: flex !important;
}

.search {
    width: calc(100% - 32px);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0px 16px;
    background-color: #ECECEC;
    border: none;
    outline: none;
}

.indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.indicator>p {
    margin: 0;
}

.indicator>img {
    height: 16px;
    width: auto;
}

.ping {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 4px;
}

.red {
    background-color: #ff0000;
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.295);
}

.blue {
    background-color: var(--accent-color);
    box-shadow: 0px 0px 0px 4px rgba(0, 38, 255, 0.295);
}

.results-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.results-head>p {
    margin: 0;
}

.results {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 8px;
}

p.no-results {
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid var(--sub-border-color);
    cursor: pointer;
}

.tag.selected {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}

.tag>p {
    margin: 0;
    opacity: 1;
    font-size: 12px;
    font-weight: 600;
}


.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid var(--sub-border-color);
    border-radius: 6px;
    cursor: pointer;
}

.result.hidden {
    display: none;
}

.result:hover {
    background-color: #f8f8f8;
}

.result>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bat {
    font-weight: 400;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.badges>img {
    height: 14px;
    width: auto;
}


.advanced-search {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.setDate {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
}

.picker-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
}

.picker-container>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.time-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.time-picker>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Masquer les flèches sur Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Masquer les flèches sur Internet Explorer */
input[type=number] {
    appearance: textfield;
    -ms-appearance: textfield;
}

.time-picker>input {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 6px;
    border: 1px solid var(--sub-border-color);
    font-weight: 400;
    padding: 3px 4px;
    outline: none;
    -moz-appearance: textfield;
}

.time-picker>input:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}

.calendar-container {
    display: flex;

    flex-direction: row;

    height: 100%;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius) 0 0 0;
    overflow: hidden;
    background-color: #FBFBFB;
}

.calendar-hours {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    height: 100%;
    border-right: 2px solid var(--border-color);
}

.calendar-columns {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow-x: scroll;
    height: 100%;
    scrollbar-width: none;
    user-select: none;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 115px;
    border-right: 2px solid var(--border-color);
}

.column:last-child {
    border-right: none;
}

.calendar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    background-color: white;
    border-bottom: 2px solid var(--border-color);
}

.calendar-hours-display>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
    height: 0;
    transform: translateY(-10px);
}

.calendar-top>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.calendar-top>p>.day {
    color: #000000;
    margin-left: 4px;
}

.column-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content-box {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    border-bottom: 2px solid var(--border-color);
}


.calendar-hours-display {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    height: 100%;
    justify-content: space-evenly;
}


.ligne {
    width: 100%;
    background-color: var(--accent-color);
    height: 2px;
}

.calendar-hours-display>div>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.course {
    display: flex;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    background-color: #e17055;
    padding: 8px;
    border-radius: 2px;
    box-sizing: border-box;
}



.course>h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.course>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.week-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 20px;
    border: 2px solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.week-switcher>img {
    height: 12px;
    width: auto;
    cursor: pointer;
}


.week-switcher>p {
    margin: 0;
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 600;
}

.week-number {
    color: #000000;
}


.avaibility-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    padding: 0 20px;
    border: 2px solid var(--border-color);
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 var(--border-radius);
}

.avaibility-box>p {
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.avaibility-box>.ping {
    display: none;
}

.loader {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    height: 100vh;
    background-color: white;
    animation: fadeOut .5s ease-in-out forwards;
    animation-delay: 800ms;
    pointer-events: none;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.2);
        display: none;
    }
}

.progress {
    display: flex;
    align-items: center;
    width: 240px;
    height: 3px;
    background-color: #F5F5F5;
}

.progress>img {
    min-height: 20px;
}

.loader>.progress>img {
    animation: progress 1s cubic-bezier(.42, .49, 0, .99) forwards;
}

.no-compatible {
    display: none;
    position: absolute;
    background-color: white;
    align-items: center;
    z-index: 100;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}


.menu-mobile {
    display: none;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
}

.menu-button {
    padding: 0 16px;
    height: 100%;
    background-color: var(--accent-color);
    font-family: "Space Grotesk", sans-serif;
    border: none;
    border-radius: var(--border-radius);
    color: white;
}


.current-room {
    display: flex;
    flex-direction: column;
}

.current-room>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #5F5F5F;
}

.current-room>h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #030303;
}

.indicator-hour {
    position: absolute;
    transform: translateY(-12.5px);
    z-index: 1;
    right: -10px;
    display: flex;
    align-items: center;
}

.indicator-hour .bubble {
    background-color: var(--accent-color);
    padding: 4px 10px;
    border-radius: var(--border-radius);
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
}

.indicator-hour .bar {
    height: 2px;
    background-color: var(--accent-color);
    width: 100vw;
    position: absolute;
}

.absolute-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1000;

}

.about .modal-section .title {
    display: flex;
    gap: 12px;
    margin-block: 0px;
    align-items: center;
}

.about .modal-section .title>img {
    height: 20px;
    width: auto;
}

.about .modal-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
}

.about .modal-section:last-child {
    margin-bottom: 0px;
}

.about .modal-section .content p {
    margin-block: 0px;
    font-size: 15px;
}

.about .grid {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.grid#team {
    margin-top: 12px;
}

.about .grid .item {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--border-color);
    gap: 12px;
    align-items: center;
    flex-grow: 1;
}

.about .grid#team .item:last-child {
    flex-grow: 0;
}

.about .grid .item .infos {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.about .grid .item .infos>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #5F5F5F;
}

.about .grid .item .infos>h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.about .grid .item>img {
    height: 34px;
    border-radius: 4px;
    width: auto;
}

.about .grid .item>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
}

#version {
    background-color: var(--accent-color);
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
}

.course-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.course-box>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.course-box>.course-container {
    padding: 16px;
    width: calc(100% - 32px);
    border-radius: 4px;
    background-color: #e74c3c;
}

.course-container>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.detail>h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.detail>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    max-height: 20vh;
    overflow-y: auto;
    word-break: break-word;
}


.slidecontainer {
    width: 100%;
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
}

.option {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 8px;
}

.option>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.option>img {
    width: 18px;
    align-self: baseline;
}

.search-button {
    margin-top: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
}

.centered>h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #5F5F5F;
}

.centered>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.browsers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 20px;
}

.browser {
    display: none;
    flex-direction: row;
    width: calc(100% - 16px);
    align-items: center;
    padding: 8px;
    background-color: aliceblue;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    gap: 8px;
}

.browser>img {
    height: 28px;
    border-radius: 6px;
}

.browser>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.numb {
    color: var(--accent-color);
    font-weight: 800;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.slide-selector {
    display: flex;
    justify-content: space-between;
}

.slide-selector>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.slide-selector>.slidecontainer {
    width: 150px;
}

.no-available {
    position: relative;
    pointer-events: none;
}

.no-available>.option {
    filter: opacity(0.3);
}

.no-available>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin: 0;
}


@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }
}


@media screen and (max-width: 1024px) {
    .pannel {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        border: none;
        min-width: auto;
        transition: transform 0.3s;
        transform: translateY(0);
        padding: 16px;
    }

    .pannel.hidden {
        transform: translateY(100%);
    }

    .calendar {
        width: 100%;
        border: none;
        gap: 0;
    }

    .mobile-indicator {
        display: flex;
    }

    .date-picker>input {
        appearance: none;
        -webkit-appearance: none;
    }

    .calendar-container {
        border-radius: 0;
    }

    .avaibility-box {
        display: none;
    }

    .week-switcher {
        width: 100%;
        border: none;
        justify-content: space-between;
    }

    .menu-mobile {
        display: flex;
    }
}

@media screen and (max-height: 900px) {
    .campus_feed {
        height: 110px;
    }
}

@media screen and (max-height: 700px) {
    .course>p {
        display: none;
    }
}

@media screen and (max-height: 300px) {
    .no-compatible {
        display: flex;
    }
}