#dashboard {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-dark);
    color: var(--color-on-surface);
    display: flex;

    @media screen and (max-width: 425px) {
        & {
            flex-direction: column;
        }
    }
}
