.input {
    width: calc(100% - 32px);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0px 16px;
    background-color: var(--neutral-color);
    border: none;
    outline: none;
}

input:not(input[type="checkbox"])::placeholder {
    color: var(--neutral-color-dark);
}