.results {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 8px;
}

@media screen and (max-width: 1024px) {
    .results {
        padding-bottom: 24px;
    }
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid var(--neutral-color-light);
    border-radius: 6px;
    cursor: pointer;
}

.result.hidden {
    display: none;
}

.result:hover {
    background-color: var(--neutral-color-light);
}

.result>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bat {
    font-weight: 400;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.badges>img {
    height: 14px;
    width: auto;
    filter: invert(var(--icon-color-invert-value));
}

p.no-results {
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}