#dashboard .mobile-appbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    gap: 18px;
    position: relative;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--surface-color);

    & h2 {
        margin-block: 0px;
    }

    & .account-icon {
        border-radius: var(--border-radius-full);
        height: 30px;
        width: auto;
        margin-left: 10px;
    }

    & .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        pointer-events: none;

        &.open {
            pointer-events: auto;
        }

        & .scrim {
            z-index: 1;
            position: absolute;
            width: 100%;
            background-color: var(--scrim-color);
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity var(--animation-duration);

            .menu.open & {
                opacity: 1;
            }
        }

        & .window {
            position: absolute;
            height: 100%;
            width: 80%;
            background-color: var(--surface-color);
            z-index: 2;
            transform: translateX(-100%);
            transition: transform var(--animation-duration);

            .menu.open & {
                transform: translateX(0);
            }
        }
    }
}
