.main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 20px;
    margin-top: 24px;
    flex-grow: 1;
}

.loader-indicator {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(4px);
    z-index: 5;
}

.spin {
    width: 28px;
    height: 28px;
    border: 5px solid var(--accent-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.calendar-container {
    padding: 24px 0px 0px 24px;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* border: 2px solid var(--border-color); */
    border-radius: var(--border-radius) 0 0 0;
    overflow: hidden;
    background-color: var(--background-color);
    transition: background-color var(--animation-duration);
}

.calendar-hours {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    height: 100%;
    border-right: 2px solid var(--border-color);
}

.calendar-columns {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow-x: scroll;
    height: 100%;
    scrollbar-width: none;
    user-select: none;
}

/* .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 115px;
    border-right: 2px solid var(--border-color);
} */

.column:last-child {
    border-right: none;
}

.calendar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid var(--border-color);
}

.calendar-hours-display>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
    height: 0;
    transform: translateY(-10px);
}

.calendar-top>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
}

.calendar-top>p>.day {
    color: var(--on-background-color);
    margin-left: 4px;
}

.calendar-top.selected>p,
.calendar-top.selected>p>.day {
    color: var(--on-neutral-color);
}

.calendar-top.selected {
    background-color: var(--neutral-color);
    border-bottom: 2px solid var(--neutral-color-light);
}

.column-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.calendar-hours-display {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    height: 100%;
    justify-content: space-evenly;
}

.indicator-hour {
    position: absolute;
    transform: translateY(-12.5px);
    z-index: 2;
    right: -10px;
    display: flex;
    align-items: center;
}

.indicator-hour .bubble {
    background-color: var(--accent-color);
    padding: 4px 10px;
    border-radius: var(--border-radius);
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
}

.indicator-hour .bar {
    height: 2px;
    background-color: var(--accent-color);
    width: 100vw;
    position: absolute;
}

.menu-mobile {
    display: none;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    z-index: 5;
    gap: 10px;
}

.current-room {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.current-room>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--neutral-color-dark);
}

.current-room>h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--on-surface-color);
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.course-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.course-box>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
}

.course-box>.course-container {
    padding: 16px;
    width: calc(100% - 32px);
    border-radius: 4px;
    background-color: #e74c3c;
}

.course-container>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.detail>h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
}

.detail>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--on-surface-color);
    max-height: 20vh;
    overflow-y: auto;
    word-break: break-word;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
        border: none;
        gap: 0;
        margin-top: 0;
        gap: 0;
    }

    .calendar-container {
        border-radius: 0;
        padding: 0;
    }

    .menu-mobile {
        display: flex;
    }
}