* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin-block: 0px;
}

.title,
.subtitle {
    text-align: center;
}

.subtitle {
    margin-top: 8px;
    color: var(--neutral-color-dark);
}

.main.new {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--on-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}

.content-container {
    max-width: 1000px;
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    overflow: hidden;
}

.features-card {
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    padding: 24px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    overflow: hidden;
}

.animation-container {
    max-height: 40%;
    flex-grow: 1;
}

.features-list {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px 0px 24px 0px;
    overflow: auto;
}

.feature {
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 1024px) {
    .animation-container {
        max-width: 100%;
        max-height: 30%;
    }
}