* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin-block: 0px;
}

.page {
    display: flex;
    flex-direction: column;
}

.page-title {
    margin-bottom: 24px;
}

.page,
.main.new {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--on-background-color);
}

.appbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
    box-shadow: var(--box-shadow);
    gap: 18px;
    height: 100px;
    position: relative;
    background-color: var(--surface-color);
    z-index: 1;
    flex-shrink: 0;
}

.appbar h1 {
    margin-block: 0px;
}

.logo {
    height: 46px;
    width: auto;
    border-radius: var(--border-radius);
}

.spacer {
    flex-grow: 1;
}

#home-mobile {
    display: none;
}

.main.new {
    align-items: center;
    flex-direction: column;
    overflow: auto;
    min-height: auto;
}

.content-container {
    max-width: 800px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.section {
    width: 100%;
}

.section .title {
    margin-bottom: 12px;
    color: var(--neutral-color-dark);
    display: flex;
    align-items: center;
    gap: 6px;
}

.section .title.latest {
    color: var(--accent-color);
}

.section .title svg {
    margin-left: 6px;
}

.features-list {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
}

.feature {
    display: flex;
    gap: 12px;
}

.feature i {
    font-style: normal;
}

@media screen and (max-width: 425px) {
    #home-mobile {
        display: flex;
    }

    #home {
        display: none;
    }
}