.cell {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    border-bottom: 2px solid var(--border-color);
}

.cell:last-child,
.column:has(.calendar-top.selected) .cell:last-child {
    border-bottom: none;
}

.column:has(.calendar-top.selected) .cell {
    background-color: var(--neutral-color-light);
}

.column:has(.calendar-top.selected) .cell {
    border-bottom: 2px solid var(--neutral-color);
}