/* Global calendar rules */

.calendar {
    padding: 32px 0px 0px 24px;
    display: flex;
    height: 100%;
    border-radius: var(--border-radius) 0 0 0;
    overflow: hidden;
    background-color: var(--background-color);
    transition: background-color var(--animation-duration);
}

@media screen and (max-width: 1024px) {
    .calendar {
        padding: 20px 0 0 0;
        border-radius: 0;
    }
}

/* Hours column rules */

.calendar-hours {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    height: 100%;
    border-right: 1px solid var(--border-color);
}

/* Grid rules */

.calendar .grid {
    position: relative;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.calendar .grid-pattern {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.calendar .grid-pattern .cell {
    border: 1px solid var(--border-color);
    min-width: 120px;
}

/* @media screen and (max-width: 1024px) {
    .calendar .grid-pattern .cell:nth-child(n - 5) {
        border-bottom: none;
    }
} */

.calendar .grid .columns {
    flex-grow: 1;
    position: relative;
    display: flex;
}

.calendar .column {
    flex-grow: 1;
    height: 100%;
    position: relative;
    min-width: 120px;
}

.calendar .column.hours {
    /* width: 60px; */
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
    min-width: auto;
}

@media screen and (max-width: 1024px) {
    .calendar .column.hours {
        padding-left: 20px;
    }
}

.calendar .column.hours>span.placeholder {
    padding-bottom: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0;
    border: none;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, transparent 70%, var(--border-color) 30%) 1 100%;
}

.calendar .column.hours>span {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
    flex-grow: 1;
    margin-top: -9px;
    border-right: 1px solid var(--border-color);
    padding-right: 12px;
}

.calendar .column.hours>span:first-child:not(.placeholder) {
    visibility: hidden;
}

.calendar .grid .headers {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: repeat(1, 1fr);
}

.calendar .grid .headers .header {
    /* flex-grow: 1; */
    /* border-bottom: 1px solid var(--border-color); */
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-color-dark);
    display: flex;
    align-items: start;
    justify-content: center;
    /* height: 50px; */
    padding-bottom: 24px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, transparent 70%, var(--border-color) 30%) 1 100%;
    min-width: 120px;
}

@media screen and (max-width: 1024px) {
    .calendar .grid .headers .header {
        padding-bottom: 20px;
    }
}

.calendar .grid .headers .header>.day-number {
    color: var(--on-background-color);
    margin-left: 4px;
}