#app div.main > .calendar {
    padding: 32px 0px 0px 24px;
    margin-right: 24px;
    display: flex;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-neutral-light);
    transition: background-color var(--animation-duration);
    position: relative;

    @media screen and (max-width: 1024px) {
        & {
            padding: 20px 0 0 0;
            margin: 0 12px 0 12px;
        }
    }

    & > .hours-column {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 12px;

        @media screen and (max-width: 1024px) {
            & {
                padding-left: 20px;
            }
        }

        & > .placeholder {
            padding-bottom: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            margin-top: 0;
            border: none;
            border-right: 2px solid;
            border-image: linear-gradient(
                    to bottom,
                    transparent 70%,
                    var(--color-neutral) 30%
                )
                1 100%;

            @media screen and (max-width: 1024px) {
                & {
                    padding-bottom: 20px;
                }
            }
        }

        & > span {
            text-align: right;
            font-size: 14px;
            font-weight: 600;
            color: var(--color-neutral-dark);
            flex-grow: 1;
            margin-top: -9px;
            border-right: 2px solid var(--color-neutral);
            padding-right: 12px;

            &:first-child:not(.placeholder) {
                visibility: hidden;
            }
        }
    }

    & > .grid {
        position: relative;
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;

        & > .columns {
            flex-grow: 1;
            position: relative;
            display: flex;

            & > .column {
                flex-grow: 1;
                height: 100%;
                position: relative;
                min-width: 120px;
            }

            & > .grid-pattern {
                display: grid;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                & > .cell {
                    border: 1px solid var(--color-neutral);
                    min-width: 120px;
                }
            }
        }

        & > .headers {
            min-width: fit-content;
            border-bottom: 1px solid var(--color-neutral);
            display: grid;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-rows: repeat(1, 1fr);

            @media screen and (max-width: 1024px) {
                & {
                    width: fit-content;
                }
            }

            & > .header {
                font-size: 14px;
                font-weight: 600;
                color: var(--color-neutral-dark);
                display: flex;
                align-items: start;
                justify-content: center;
                padding-bottom: 24px;
                border-left: 1px solid;
                border-right: 1px solid;
                border-image: linear-gradient(
                        to bottom,
                        transparent 70%,
                        var(--color-neutral) 30%
                    )
                    1 100%;
                min-width: 120px;

                @media screen and (max-width: 1024px) {
                    & {
                        padding-bottom: 20px;
                    }
                }

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }

                & > .day-number {
                    color: var(--color-on-surface);
                    margin-left: 4px;
                }
            }
        }
    }
}
