.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    gap: 18px;
    position: relative;
    border-bottom: 2px solid var(--border-color);
}

.navbar h2 {
    margin-block: 0px;
}

.account-icon {
    border-radius: var(--border-radius-full);
    position: relative !important;
    height: 30px !important;
    width: auto !important;
}

.mobile-menu-button {
    padding: var(--small-space);
    background-color: transparent;
    color: var(--on-background-color);
    border-radius: var(--border-radius-sharp);
    cursor: pointer;
    border: none;
    display: flex;
}

.mobile-menu-button:hover {
    background-color: var(--neutral-color);
}