#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    transition: background-color var(--animation-duration);
    height: 100%;
    width: 100%;

    /* Panel rules */
    & .panel {
        display: flex;
        flex-direction: column;
        padding: 24px;
        width: 450px;
        overflow: hidden;
        background-color: var(--surface-color);
        color: var(--on-surface-color);
        border-radius: var(--border-radius);
        transition: background-color var(--animation-duration);
        border: 2px solid var(--border-color);

        @media screen and (max-width: 498px) {
            & {
                height: 100%;
                width: 100%;
                border-radius: 0px;
                border: none;
                padding: 20px;
            }
        }

        /* Branding rules */
        & .branding {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            margin: 24px 0;

            & img {
                height: 50px;
                width: auto;
                border-radius: var(--border-radius);
            }

            & h1 {
                margin-block: 0px;
            }
        }
    }
}
