/* Global action bar rules */

.main .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    margin-right: 24px;
}

@media screen and (max-width: 1024px) {
    .main .action-bar {
        margin-right: 0;
        padding: 20px;
    }
}

/* Week switcher rules */

.main .action-bar>.week-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.main .action-bar>.week-switcher>.today.mobile {
    display: none;
}

.main .action-bar>.week-switcher>.infos {
    color: var(--on-surface-color);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 170px;
    margin: 0 12px;
}

@media screen and (max-width: 1024px) {
    .main .action-bar>.week-switcher>.infos {
        flex-grow: 1;
    }
}

.main .action-bar>.week-switcher>.infos .week {
    color: var(--neutral-color-dark);
}

.main .action-bar>.week-switcher>.infos .week.mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main .action-bar>.week-switcher>.infos .week.mobile {
        display: block;
    }

    .main .action-bar>.week-switcher>.infos .week {
        display: none;
    }

    .main .action-bar>.week-switcher>.today.mobile {
        display: block;
    }

    .main .action-bar>.week-switcher>.today {
        display: none;
    }

    .main .action-bar>.week-switcher>.infos {
        width: 150px;
    }
}

/* Current room box rules */

.main .action-bar>.current-room {
    color: var(--on-surface-color);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .main .action-bar>.current-room {
        display: none;
    }
}

/* TODO */

@media screen and (max-width: 1024px) {
    .week-switcher {
        width: 100%;
        border: none;
        justify-content: space-between;
        border-radius: 0px;
    }

    .menu-mobile {
        display: flex;
    }
}