#app > .panel {
    /* Global home view rules */
    & > .home {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
        view-transition-name: panel-home;
        padding: 24px;

        /* Bottom area rules */
        & > .actions-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 12px;
            overflow: hidden;

            /* Container head rules */
            & > .head {
                display: flex;
                font-size: 14px;
                font-weight: 600;
                gap: 12px;
                align-items: center;

                & p {
                    margin: 0;
                }

                /* Container head actions rules */
                & .actions {
                    display: flex;
                    gap: 0;
                    align-items: center;
                    flex-grow: 1;
                    justify-content: end;
                }
            }
        }

        & > .search-button {
            flex-grow: 1;
        }
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-100%);
    }
}

::view-transition-old(panel-home) {
    animation: slide-to-left var(--animation-duration) forwards;
}

::view-transition-new(panel-home) {
    animation: slide-to-left var(--animation-duration) reverse forwards ease-in;
}
