/* Results global rules */

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 10px;
}

.results p.no-results {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

/* Result rules */

.results .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--neutral-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.results .result:hover {
    background-color: var(--neutral-color-light);
}

.results .result.loading:hover {
    background-color: transparent;
    cursor: auto;
}

.results .result>p {
    margin-block: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results .result .building {
    font-weight: 400;
    margin-left: 4px;
}

.results .result .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
}

/* Placeholder rules */

.results .result .placeholder {
    flex-grow: 1;
    height: 18px;
    border-radius: 100px;
    background-color: var(--neutral-color-light);
}

.results .result .placeholder.actions {
    flex-grow: 0;
    width: 80px;
    min-width: 80px ;
    margin-left: 40px;
}

/* Ping rules */

.results .ping {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: 4px;
}

.results .ping.red {
    background-color: #ff0000;
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.295);
}

.results .ping.blue {
    background-color: var(--accent-color);
    box-shadow: 0px 0px 0px 4px rgba(0, 38, 255, 0.295);
}