.input {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 14px;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0px 16px;
    background-color: var(--color-neutral-light);
    border: none;
    outline: none;
    color: var(--color-on-surface);
}

.input::placeholder {
    color: var(--color-neutral-dark);
    font-size: 14px;
}