/* Modal scrim rules */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
}

.modal.open {
    pointer-events: auto;
}

.modal>.scrim {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity calc(var(--animation-duration) - .1s);
    background-color: var(--scrim-color);
    width: 100%;
    height: 100%;
}

.modal.open>.scrim {
    opacity: 1;
    transition: opacity var(--animation-duration);
}

/* Modal window rules */

.modal>.window {
    position: absolute;
    display: block;
    height: calc(100% - 48px);
    width: 400px;
    padding: 24px;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    right: 0;
    top: 0;
    overflow-y: auto;
    transform: translateX(100%);
    transition: background-color var(--animation-duration), transform calc(var(--animation-duration) - .1s);
    z-index: 1;
}

.modal.open>.window {
    transform: translateX(0);
    transition: background-color var(--animation-duration), transform var(--animation-duration);
}

@media screen and (max-width: 1024px) {
    .modal>.window {
        width: calc(100% - 48px);
        height: 100%;
        max-height: 75%;
        bottom: 0;
        top: auto;
        transform: translateY(100%);
    }

    .modal.open>.window {
        transform: translateY(0);
    }
}