main.main {
    display: flex;
    flex-direction: row;
    /* gap: 34px; */
    background-color: var(--surface-color);
    transition: background-color var(--animation-duration);
    color: var(--on-surface-color);
    height: 100%;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.2);
        display: none;
    }
}

.progress {
    display: flex;
    align-items: center;
    width: 240px;
    height: 3px;
    background-color: #F5F5F5;
}

.progress>img {
    min-height: 20px;
}

.no-compatible {
    display: none;
    position: absolute;
    background-color: white;
    align-items: center;
    z-index: 100;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}




.centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
}

.centered>h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral-color-dark);
}

.centered>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--on-surface-color);
}

.browsers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 20px;
}

.browser {
    display: none;
    flex-direction: row;
    width: calc(100% - 16px);
    align-items: center;
    padding: 8px;
    background-color: aliceblue;
    border: 1px solid var(--neutral-color-light);
    border-radius: 12px;
    gap: 8px;
}

.browser>img {
    height: 28px;
    border-radius: 6px;
}

.browser>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--on-surface-color);
}

.numb {
    color: var(--accent-color);
    font-weight: 800;
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }
}

@media screen and (max-height: 300px) {
    .no-compatible {
        display: flex;
    }
}