.sidebar {
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    gap: 24px;
    position: relative;
    border-right: 2px solid var(--border-color);
    background-color: var(--surface-color);
}

.branding {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
}

.branding h1 {
    margin-block: 0px;
}

.branding img {
    height: 48px;
    width: auto;
    border-radius: var(--border-radius);
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--border-color);
}

.spacer {
    flex-grow: 1;
}

.actions-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}

.action {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    cursor: pointer;
    border: none;
    padding: 12px 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--on-surface-color);
}

.action:hover {
    background-color: var(--neutral-color);
}

.action>span {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Space Grotesk", sans-serif;
}

.action>img {
    border-radius: var(--border-radius-full);
    position: relative !important;
    height: 24px !important;
    width: auto !important;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        min-width: auto;
        width: auto;
    }

    .action {
        padding: 12px;
    }

    .action>span {
        display: none;
    }

    .branding h1 {
        display: none;
    }

    .branding {
        justify-content: center;
    }
}