/* Global rules */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-color-dark) transparent;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Space Grotesk", sans-serif;
    touch-action: pan-x pan-y;
    padding: 0;
    margin: 0;
    overflow: hidden;
}