/* Global rules */

.button {
    position: relative;
    height: 40px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    padding: 0px 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}

.button:disabled {
    cursor: not-allowed;
}

.button:has(svg) {
    padding-left: 14px;
}

.button.icon-button {
    padding: 0px 12px;
}

.button.loading>* {
    visibility: hidden;
}

.button.loading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    animation: spinner 1s ease infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Primary */

.button.primary {
    background-color: var(--accent-color);
    color: var(--on-accent-color);
}

.button.primary:hover {
    background-color: var(--accent-color-dark);
}

.button.primary:disabled {
    background-color: var(--neutral-color-light);
    color: var(--neutral-color-dark);
}

.button.primary.loading::after {
    background-color: var(--neutral-color-light);
    border-top-color: var(--neutral-color-dark);
}

/* Secondary */

.button.secondary {
    background-color: transparent;
    color: var(--on-surface-color);
}

.button.secondary:hover {
    background-color: var(--neutral-color);
}

.button.secondary:disabled {
    color: var(--neutral-color-dark);
    background-color: transparent;
}

.button.secondary.loading::after {
    background-color: transparent;
    border-top-color: var(--neutral-color-dark);
}