.button {
    position: relative;
    height: 44px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    padding: 0 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    clip-path: inset(0 round var(--border-radius));
    transition: clip-path 0.1s;

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled):active {
        clip-path: inset(1px round calc(var(--border-radius) - 1px));
    }

    &:has(svg) {
        padding-left: 14px;
    }

    &.icon-button {
        padding: 0px 14px;
    }

    .loading {
        & > * {
            visibility: hidden;
        }

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 2px solid transparent;
            border-radius: 50%;
            animation: spin 1s ease infinite;
        }
    }

    &.primary {
        background-color: var(--color-accent);
        color: var(--color-on-accent);

        &:disabled {
            background-color: var(--color-neutral-light);
            color: var(--color-neutral-dark);
        }

        &:hover {
            background-color: var(--color-accent-dark);
        }

        &.loading::after {
            background-color: var(--color-neutral-light);
            border-top-color: var(--color-neutral-dark);
        }
    }

    &.secondary {
        background-color: transparent;
        color: var(--color-on-surface);

        &:disabled {
            color: var(--color-neutral-dark);
            background-color: transparent;
        }

        &:hover {
            background-color: var(--color-neutral);
        }

        &.loading::after {
            background-color: transparent;
            border-top-color: var(--color-neutral-dark);
        }
    }
}
