@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --accent-color: #3452ff;
    --on-accent-color: #ffffff;
    --accent-color-dark: #1f2dff;
    --on-accent-color-dark: #ffffff;
    --neutral-color-dark: #676767;
    --on-neutral-color-dark: #ffffff;
    --neutral-color: #ececec;
    --on-neutral-color: #000000;
    --neutral-color-light: #e1e1e1;
    --on-neutral-color-light: #000000;
    --success-color: #44c235;
    --on-success-color: #ffffff;
    --error-color: #e64242;
    --on-error-color: #ffffff;
    --background-color: #fbfbfb;
    --on-background-color: #000000;
    --surface-color: #ffffff;
    --on-surface-color: #000000;
    --scrim-color: rgba(0, 0, 0, 0.3);

    --extra-large-space: 24px;
    --large-space: 16px;
    --space: 12px;
    --small-space: 8px;
    --extra-small-space: 4px;

    --border-radius-full: 100px;
    --border-radius: 12px;
    --border-radius-sharp: 6px;

    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf #ffffff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 24
}

.room-item {
    cursor: pointer;
    padding: var(--large-space) 20px;
    border: 1px solid var(--neutral-color-light);
    border-radius: var(--border-radius-sharp);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--large-space);
}

.room-item.hidden {
    display: none;
}

.item-actions {
    gap: var(--extra-small-space);
    display: flex;
    align-items: center;
}

input:not(input[type="checkbox"]),
select,
textarea {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--neutral-color);
    border: none;
    outline: none;
}

input,
select {
    padding: 0px var(--large-space);
}

textarea {
    padding: var(--large-space);
}

.button {
    height: 40px;
    border-radius: calc(var(--border-radius) - 2px);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    color: var(--on-accent-color);
    font-size: 14px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    width: fit-content;
    padding: 0px var(--extra-large-space);
    display: inline-block;
}

.button:hover {
    background-color: var(--accent-color-dark);
}

section>span {
    user-select: text;
}

#boards input {
    margin: var(--small-space);
}

#toast {
    position: fixed;
    bottom: 20px;
    background: var(--error-color);
    padding: var(--large-space);
    border-radius: var(--border-radius);
    left: 50%;
    translate: -50%;
    box-shadow: var(--box-shadow);
    transition: transform .3s;
    transform: translateY(100px);
    z-index: 4;
}

#toast.displayed {
    transform: translateY(0px);
}

.chip {
    padding: var(--small-space) calc(var(--small-space) + 2px);
    background-color: var(--accent-color);
    color: var(--on-accent-color);
    cursor: pointer;
    border-radius: var(--border-radius-sharp);
    display: flex;
    align-items: center;
    gap: var(--extra-small-space);
}

.chip>i {
    font-size: 20px;
}

#navbar {
    background-color: var(--surface-color);
    padding: var(--extra-large-space);
    height: 60px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100% - 156px);
    margin: var(--extra-large-space);
    display: flex;
}

#rooms-list {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--extra-large-space);
}

#room-editor {
    width: 70%;
    display: none;
    flex-direction: column;
    padding-left: var(--extra-large-space);
    gap: var(--extra-large-space);
    align-items: center;
}

#save-button,
#add-course-button {
    flex-shrink: 0;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-space);
}

#details input {
    margin-right: var(--small-space);
    margin-bottom: var(--extra-large-space);
}

.page-title>h2 {
    margin-block: 0px;
}

.data-container {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
}

#rooms-list__container {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
    padding-right: var(--small-space);
}

#branding {
    display: flex;
    gap: var(--extra-large-space);
    align-items: center;
}

#branding h2 {
    font-size: 1.3em;
    color: var(--neutral-color-dark);
    text-transform: uppercase;
}

#branding h1,
#branding h2 {
    margin-block: 0px;
}

.page-title {
    display: flex;
    gap: var(--space);
    align-items: center;
    width: 100%;
    justify-content: center;
}

#back-button {
    display: none;
}

.icon-button {
    padding: var(--small-space);
    background-color: transparent;
    color: var(--on-background-color);
}

.icon-button:hover {
    background-color: var(--neutral-color);
}

#account-button {
    display: flex;
    align-items: center;
    gap: var(--space);
    padding: var(--space);
    background-color: transparent;
    color: var(--on-surface-color);
    height: auto;
}

#account-button:hover {
    background-color: var(--neutral-color);
}

#account-button>img {
    border-radius: var(--border-radius-full);
    height: 30px;
    width: 30px;
}

#account-button>span {
    font-size: 16px;
}

#account-menu {
    position: fixed;
    padding: var(--extra-large-space);
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: var(--space);
    right: -100vw;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform .2s, opacity .2s;
    z-index: 3;
}

#account-menu.opened {
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
    right: var(--extra-large-space);
}

#account-menu .button {
    width: 100%;
}

#account-infos {
    display: flex;
    gap: var(--extra-large-space);
    align-items: center;
    margin-bottom: var(--extra-large-space);
}

#account-infos h2 {
    margin-block: 0px;
}

#account-infos img {
    border-radius: var(--border-radius-full);
    height: 50px;
    width: 50px;
}

#book-room-popup {
    z-index: 3;
    position: fixed;
    width: 100vw;
    background-color: var(--scrim-color);
    height: 100%;
    top: 0px;
    left: calc(-100vw);
    opacity: 0;
    transition: opacity .2s;
}

#book-room-popup.opened {
    left: 0px;
    opacity: 1;
}

#popup-window {
    box-shadow: var(--box-shadow);
    position: absolute;
    width: 500px;
    height: 70%;
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    left: calc(50% - 250px - var(--space));
    top: calc(50% - 35% - var(--space));
    padding: var(--extra-large-space);
    display: flex;
    flex-direction: column;
    gap: var(--extra-large-space);
    align-items: center;
    transition: transform .3s;
    transform: translateY(20px);
}

#popup-window h2 {
    margin-block: 0px;
}

#popup-content {
    flex-grow: 1;
}

#popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#book-room-popup.opened #popup-window {
    transform: translateY(0px);
}

#no-result {
    display: none;
}

#search-actions {
    display: flex;
    gap: var(--space);
    align-items: center;
}

#search input[type="text"] {
    flex-grow: 1;
}

#search {
    display: flex;
    flex-direction: column;
    gap: var(--space);
}

@media screen and (max-width: 1024px) {
    #navbar {
        height: 40px;
    }

    #branding h2 {
        display: none;
    }

    #room-editor,
    #rooms-list {
        position: fixed;
        top: calc(40px + 48px);
        width: calc(100vw - 48px);
        height: calc(100% - 40px - 48px - 48px);
        background-color: var(--background-color);
        padding: var(--extra-large-space);
        transition-duration: .3s;
        left: 100vw !important;
    }

    #room-editor {
        z-index: 1;
    }

    #rooms-list {
        z-index: 0;
        left: 0px !important;
    }

    #rooms-list.swipe-left {
        transform: translateX(-25vw) !important;
    }

    .swipe-left {
        transform: translateX(-100vw);
    }

    #back-button {
        display: block;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    #account-menu {
        width: calc(100vw - 48px - 48px);
    }

    #toast {
        width: calc(100vw - 32px - 48px);
    }

    #popup-window {
        width: calc(100vw - 48px - 48px);
        left: calc(50% - (50vw - var(--extra-large-space)));
    }

    .page-title {
        justify-content: left;
    }
}