@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --accent-color: #3452ff;
    --on-accent-color: #ffffff;
    --accent-color-dark: #1f2dff;
    --on-accent-color-dark: #ffffff;
    --neutral-color-dark: #676767;
    --on-neutral-color-dark: #ffffff;
    --neutral-color: #ececec;
    --on-neutral-color: #000000;
    --neutral-color-light: #e1e1e1;
    --on-neutral-color-light: #000000;
    --success-color: #44c235;
    --on-success-color: #ffffff;
    --error-color: #e64242;
    --on-error-color: #ffffff;
    --background-color: #fbfbfb;
    --on-background-color: #000000;
    --surface-color: #ffffff;
    --on-surface-color: #000000;
    --scrim-color: rgba(0, 0, 0, 0.3);

    --extra-large-space: 24px;
    --large-space: 16px;
    --space: 12px;
    --small-space: 8px;
    --extra-small-space: 4px;

    --border-radius-full: 100px;
    --border-radius: 12px;
    --border-radius-sharp: 6px;

    --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

    --animation-duration: .3s;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
    opacity: 0;
    transition: opacity var(--animation-duration);
}

body.ready {
    opacity: 1;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-color-dark) var(--neutral-color-light);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 24;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.room-item {
    cursor: pointer;
    padding: var(--large-space) 20px;
    border: 1px solid var(--neutral-color-light);
    border-radius: var(--border-radius-sharp);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--large-space);
}

.room-item:hover {
    background-color: var(--neutral-color-light);
    color: var(--on-neutral-color-light);
}

.room-item.hidden {
    display: none;
}

.room-item.selected {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--on-accent-color);
    font-weight: bold;
}

.room-item.selected:hover {
    background-color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    color: var(--on-accent-color-dark);
}

.badges {
    gap: var(--extra-small-space);
    display: flex;
    align-items: center;
}

.badges i {
    font-size: 16px;
}

input:not(input[type="checkbox"]),
select,
textarea {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--on-neutral-color);
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--neutral-color);
    border: none;
    outline: none;
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
}

input:not(input[type="checkbox"])::placeholder,
select::placeholder,
textarea::placeholder {
    color: var(--neutral-color-dark);
}

input,
select {
    padding: 0px var(--large-space);
}

textarea {
    padding: var(--large-space);
}

.button {
    height: 40px;
    border-radius: calc(var(--border-radius) - 2px);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    color: var(--on-accent-color);
    font-size: 14px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    width: fit-content;
    padding: 0px var(--extra-large-space);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-space);
}

.button:hover {
    background-color: var(--accent-color-dark);
}

.icon-button {
    padding: var(--small-space);
    background-color: transparent;
    color: var(--on-background-color);
}

.icon-button:hover {
    background-color: var(--neutral-color);
}

section>span {
    user-select: text;
}

#rooms-manager section.boards input {
    margin: var(--small-space);
}

#toast {
    position: fixed;
    bottom: 20px;
    background: var(--error-color);
    padding: var(--large-space);
    border-radius: var(--border-radius);
    left: 50%;
    translate: -50%;
    box-shadow: var(--box-shadow);
    transition: transform var(--animation-duration);
    transform: translateY(100px);
    z-index: 997;
}

#toast.displayed {
    transform: translateY(0px);
}

.chip {
    padding: var(--small-space) calc(var(--small-space) + 2px);
    background-color: var(--accent-color);
    color: var(--on-accent-color);
    cursor: pointer;
    border-radius: var(--border-radius-sharp);
    display: flex;
    align-items: center;
    gap: var(--extra-small-space);
}

.chip>i {
    font-size: 20px;
}

#navbar {
    background-color: var(--surface-color);
    padding: var(--extra-large-space);
    height: 60px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--on-surface-color);
    gap: var(--extra-large-space);
}

main {
    height: calc(100% - 156px);
    margin: var(--extra-large-space);
    display: none;
    color: var(--on-background-color);
    gap: calc(var(--extra-large-space) + var(--extra-large-space));
    transition: opacity var(--animation-duration);
}

main.showed {
    display: flex;
}

.rooms-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--extra-large-space);
}

.container#room-booking-editor,
.container#room-editor {
    display: none;
}

.container:not(.rooms-list) {
    display: flex;
    flex-direction: column;
    gap: var(--extra-large-space);
    align-items: center;
}

.save-button,
#add-course-button {
    flex-shrink: 0;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-space);
}

#rooms-manager section.details input {
    margin-right: var(--small-space);
    margin-bottom: var(--extra-large-space);
}

.page-title>h2 {
    margin-block: 0px;
}

.data-container {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
}

.rooms-list-container {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
    padding-right: var(--small-space);
}

#navbar .branding {
    display: flex;
    gap: var(--extra-large-space);
    align-items: center;
}

#navbar .branding h2 {
    font-size: 1.3em;
    color: var(--neutral-color-dark);
    text-transform: uppercase;
}

.branding h1,
.branding h2 {
    margin-block: 0px;
}

.branding h1.page-name {
    display: none;
}

.page-title {
    display: flex;
    gap: var(--space);
    align-items: center;
    width: 100%;
    justify-content: center;
}

.back-button {
    display: none;
}

#account-button {
    display: flex;
    align-items: center;
    gap: var(--space);
    padding: var(--space);
    background-color: transparent;
    color: var(--on-surface-color);
    height: auto;
}

#account-button:hover {
    background-color: var(--neutral-color);
}

.account-icon {
    border-radius: var(--border-radius-full);
    height: 30px;
    width: 30px;
}

.navbar-account>.account-icon {
    display: none;
}

#account-button>span {
    font-size: 16px;
}

#account-menu {
    position: fixed;
    padding: var(--extra-large-space);
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: var(--space);
    right: -100vw;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform var(--animation-duration), opacity var(--animation-duration);
    z-index: 3;
}

#account-menu.opened {
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
    right: var(--extra-large-space);
}

#account-menu .button {
    width: 100%;
}

.account-infos {
    display: flex;
    gap: var(--extra-large-space);
    align-items: center;
    margin-bottom: var(--extra-large-space);
}

.account-infos h2 {
    margin-block: 0px;
}

.account-infos img {
    border-radius: var(--border-radius-full);
    height: 50px;
    width: 50px;
}

#book-room-popup {
    z-index: 3;
    position: fixed;
    width: 100vw;
    background-color: var(--scrim-color);
    height: 100%;
    top: 0px;
    left: calc(-100vw);
    opacity: 0;
    transition: opacity var(--animation-duration);
}

#book-room-popup.opened {
    left: 0px;
    opacity: 1;
}

#popup-window {
    box-shadow: var(--box-shadow);
    position: absolute;
    width: 500px;
    height: 70%;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: var(--border-radius);
    left: calc(50% - 250px - var(--space));
    top: calc(50% - 35% - var(--space));
    padding: var(--extra-large-space);
    display: flex;
    flex-direction: column;
    gap: var(--extra-large-space);
    align-items: center;
    transition: transform var(--animation-duration);
    transform: translateY(20px);
}

#popup-window h2 {
    margin-block: 0px;
}

#popup-content {
    flex-grow: 1;
}

#popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#book-room-popup.opened #popup-window {
    transform: translateY(0px);
}

.no-result {
    display: none;
}

.search-actions {
    display: flex;
    gap: var(--space);
    flex-direction: column;
}

.search-actions>div {
    display: flex;
    gap: var(--space);
    align-items: center;
    font-size: 14px;
}

.search input[type="text"] {
    flex-grow: 1;
}

.search {
    display: flex;
    flex-direction: column;
    gap: var(--space);
}

#booking .search span {
    display: flex;
    align-items: center;
    gap: var(--extra-small-space);
    font-size: 14px;
}

.spacer {
    flex-grow: 1;
}

#navlinks-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--space);
}

.button.navlink {
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    padding: var(--space);
}

.button.navlink:hover {
    background-color: var(--neutral-color);
}

.button.navlink.selected {
    background-color: var(--accent-color);
    color: var(--on-accent-color);
    padding: var(--space);
}

.button.navlink.selected:hover {
    background-color: var(--accent-color-dark);
}

.container {
    box-sizing: border-box;
}

.container.lg-4-4 {
    width: 100%;
}

.container.lg-3-4 {
    width: 75%;
}

.container.lg-2-4 {
    width: 50%;
}

.container.lg-1-4 {
    width: 25%;
}

.container.lg-3-3 {
    width: 100%;
}

.container.lg-2-3 {
    width: 66%;
}

.container.lg-1-3 {
    width: 33%;
}

#rooms-manager section.details .button {
    display: inline-block;
}

#mobile-menu {
    z-index: 998;
    position: fixed;
    width: 100vw;
    background-color: var(--scrim-color);
    height: 100%;
    top: 0px;
    left: calc(0px - 100%);
}

#mobile-menu.opened {
    left: 0px;
}

#mobile-menu-window {
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 80%;
    background-color: var(--surface-color);
    z-index: 999;
    padding: var(--extra-large-space);
    left: calc(0px - 80%);
    transition: left var(--animation-duration);
    display: flex;
    flex-direction: column;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    color: var(--on-surface-color);
}

#mobile-menu.opened #mobile-menu-window {
    left: 0px;
}

#mobile-menu-window>div {
    display: flex;
    flex-direction: column;
    gap: var(--large-space);
}

#mobile-menu-window .navlink {
    width: auto;
    justify-content: left;
}

#mobile-menu-window .branding {
    margin-bottom: calc(var(--extra-large-space) + var(--extra-large-space));
}

#mobile-menu-window .branding>h2 {
    color: var(--neutral-color-dark);
    text-transform: uppercase;
}

#mobile-menu-window .button {
    width: auto;
}

#mobile-menu-window .account-infos {
    flex-direction: row;
}

#navbar .branding button {
    display: none;
}

.chart {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: flex-end;
    gap: var(--small-space);
}

.chart-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--extra-small-space);
}

.chart-bar-shape {
    width: 100%;
    background-color: var(--accent-color);
    min-width: 30px;
}

.stats-wrapper {
    display: flex;
    align-items: center;
    gap: var(--extra-large-space);
    height: 200px;
}

.stats-wrapper>span {
    font-size: 50px;
    width: 30%;
    border: 1px solid var(--neutral-color-light);
    border-radius: var(--border-radius-sharp);
    padding: var(--extra-large-space);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-wrapper>.chart {
    width: 70%;
    height: 100%;
    margin-right: var(--extra-large-space);
    border: 1px solid var(--neutral-color-light);
    border-radius: var(--border-radius-sharp);
    padding: var(--extra-large-space);
    box-sizing: border-box;
}

.chart-bar-value {
    color: var(--neutral-color-dark);
    font-size: 14px;
}

svg.loading {
    height: 60px;
    width: 60px;
    animation: .7s cubic-bezier(0.60, 0.2, 0.40, 0.8) infinite running rotate;
}

svg.loading path {
    fill: var(--accent-color);
}

main#loading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--extra-large-space);
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    #navbar {
        height: 40px;
    }

    #navbar .branding h2,
    #navbar .branding h1:not(.page-name) {
        display: none;
    }

    .branding h1.page-name {
        display: block;
    }

    .container {
        position: fixed;
        width: 100vw !important;
        top: calc(40px + 48px);
        height: calc(100% - 40px - 48px);
        background-color: var(--background-color);
        padding: var(--extra-large-space);
        left: 100vw !important;
        transition: transform var(--animation-duration);
    }

    .container.sm-page-0 {
        z-index: 0;
        left: 0px !important;
    }

    .container.sm-page-0.swipe-left {
        transform: translateX(-25vw) !important;
    }

    .container.sm-page-1 {
        z-index: 1;
    }

    .swipe-left {
        transform: translateX(-100vw);
    }

    .back-button {
        display: block;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    #account-menu {
        width: calc(100vw - 48px - 48px);
    }

    #toast {
        width: calc(100vw - 32px - 48px);
    }

    #popup-window {
        width: calc(100vw - 48px - 48px);
        left: calc(50% - (50vw - var(--extra-large-space)));
    }

    .page-title {
        justify-content: left;
    }

    #navlinks-container {
        display: none;
    }

    #account-button {
        display: none;
    }

    .navbar-account>.account-icon {
        display: block;
    }

    #navbar .branding button {
        display: block;
    }

    .room-item.selected {
        background-color: transparent;
        border: 1px solid var(--neutral-color-light);
        font-weight: normal;
        color: unset;
    }

    .room-item.selected:hover {
        background-color: transparent;
        border: 1px solid var(--neutral-color-light);
        color: unset;
    }

    .stats-wrapper {
        flex-direction: column;
        height: auto;
    }

    .stats-wrapper>span {
        width: 100%;
        height: auto;
    }

    .stats-wrapper>.chart {
        width: 100%;
        margin-right: 0px;
        height: 200px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #3452ff;
        --on-accent-color: #ffffff;
        --accent-color-dark: #1f2dff;
        --on-accent-color-dark: #ffffff;
        --neutral-color-dark: #808080;
        --on-neutral-color-dark: #ffffff;
        --neutral-color: #404040;
        --on-neutral-color: #ffffff;
        --neutral-color-light: #303030;
        --on-neutral-color-light: #ffffff;
        --success-color: #44c235;
        --on-success-color: #ffffff;
        --error-color: #e64242;
        --on-error-color: #ffffff;
        --background-color: #202020;
        --on-background-color: #ffffff;
        --surface-color: #111111;
        --on-surface-color: #ffffff;
        --scrim-color: rgba(255, 255, 255, 0.3);
    }
}