@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #FBFBFB;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf #ffffff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --border-color: #F0F0F0;
    --sub-border-color: #E1E1E1;
    --border-radius: 12px;
    --accent-color: #3452FF;
}

.room-item {
    cursor: pointer;
    width: calc(100% - 16 * 2);
    padding: 16px 20px;
    border: 1px solid var(--sub-border-color);
    border-radius: 6px;
}

input, select, textarea {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    background-color: #ECECEC;
    border: none;
    outline: none;
}

input, select {
    padding: 0px 16px;
}

textarea {
    padding: 16px;
}

button {
    height: 40px;
    border-radius: 6px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    width: fit-content;
    padding: 0px 24px;
}

button:hover {
    background-color: #1f2dff;
}

section>span {
    user-select: text;
}

#boards input {
    margin: 8px;
}

#toast {
    position: fixed;
    bottom: 20px;
    background: #70de63;
    padding: 16px;
    border-radius: var(--border-radius);
    left: 50%;
    translate: -50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    transition: transform .3s;
    transform: translateY(100px);
}

#toast.displayed {
    transform: translateY(0px);
}