@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(135deg, rgb(230 66 66) 35%, rgb(170 25 25) 100%);
    color: white;
    text-align: center;
}

html,
body {
    height: 100%;
    min-height: 100%;
}


h2 {
    margin: 0;
    margin-top: 20px;
}

p {
    margin: 0;
    padding-inline: 20px;
    font-weight: 600;
}