@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: row;
    gap: 34px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf #ffffff;
}

:root {
    --border-color: #F0F0F0;
    --sub-border-color: #E1E1E1;
    --border-radius: 12px;
    --accent-color: #3452FF;
}

.pannel {
    display: flex;
    flex-direction: column;

    padding: 14px 14px 0 14px;
    width: 22%;
    min-width: 350px;
    gap: 24px;
    overflow: hidden;
    background-color: white;
    z-index: 10;

    border-right: 2px solid var(--border-color);
    border-radius: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}


.calendar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 78%;
    gap: 34px;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
}

.campus {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.campus_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 8px;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
}

.campus_selector>p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
}

.campus_selector>.beta {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: var(--accent-color);
}

.campus_feed {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.campus_feed>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.campus_feed_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.campus_feed_content>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.actions_selector {
    display: flex;
    flex-direction: row;
    width: calc(100% - 16px);
    padding: 8px;
    background-color: #E1E1E1;
    border-radius: var(--border-radius);
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    border-radius: 6px;
    height: 40px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
}

.action.active {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}


.actions_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.actions_container>div {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    overflow: hidden;
    position: relative;
}

.displayed {
    display: flex !important;
}

.search {
    width: calc(100% - 32px);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    min-height: 50px;
    border-radius: var(--border-radius);
    padding: 0px 16px;
    background-color: #ECECEC;
    border: none;
    outline: none;
}

.indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.indicator>p {
    margin: 0;
}

.ping {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 4px;
}

.red {
    background-color: #ff0000;
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.295);
}

.blue {
    background-color: var(--accent-color);
    box-shadow: 0px 0px 0px 4px rgba(0, 38, 255, 0.295);
}

.results-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.results-head>p {
    margin: 0;
}

.results {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 12px;
}

p.no-results {
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid var(--sub-border-color);
    cursor: pointer;
}

.tag:hover>p {
    opacity: 0;
}

.tag:hover>.remove {
    opacity: 1;
    cursor: pointer;
}

.tag>p {
    margin: 0;
    opacity: 1;
    font-size: 12px;
    font-weight: 600;

    transition: opacity 0.2s;
}

.remove {
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0;

    transition: opacity 0.2s;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid var(--sub-border-color);
    border-radius: 6px;
    cursor: pointer;
}

.result>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.bat {
    font-weight: 400;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.badges>img {
    height: 14px;
}


.advanced-search {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.setDate {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
}

.picker-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
}

.picker-container>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.time-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.time-picker>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.time-picker>input {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 6px;
    border: 1px solid var(--sub-border-color);
    font-weight: 400;
    padding: 3px 4px;
    outline: none;
}

.time-picker>input:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-button {
    position: relative;
    height: 40px;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.search-button:hover {
    background-color: #1f2dff;
}

.calendar-container {
    display: flex;

    flex-direction: row;

    height: 100%;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius) 0 0 0;
    overflow: hidden;
    background-color: #FBFBFB;
}

.calendar-hours {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    height: 100%;
    border-right: 2px solid var(--border-color);
}

.calendar-columns {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow-x: scroll;
    height: 100%;
    scrollbar-width: none;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 150px;
    border-right: 2px solid var(--border-color);
}

.column:last-child {
    border-right: none;
}

.calendar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    background-color: white;
    border-bottom: 2px solid var(--border-color);
}

.calendar-hours-display>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
    height: 0;
    transform: translateY(-10px);
}

.calendar-top>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.calendar-top>p>.day {
    color: #000000;
}

.column-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content-box {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    border-bottom: 2px solid var(--border-color);
}


.calendar-hours-display {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    height: 100%;
    justify-content: space-evenly;
}


.ligne {
    width: 100%;
    background-color: var(--accent-color);
    height: 2px;
}

.calendar-hours-display>div>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
}

.course {
    display: flex;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    background-color: #e17055;
    padding: 8px;
}

.course>h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.course>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.week-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 20px;
    border: 2px solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.week-switcher>img {
    width: 12px;
    cursor: pointer;
}

.week-switcher>p {
    margin: 0;
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 600;
}

.week-number {
    color: #000000;
}


.avaibility-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    padding: 0 20px;
    border: 2px solid var(--border-color);
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 var(--border-radius);
}

.avaibility-box>p {
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    height: 100vh;
    background-color: white;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 800ms;
    pointer-events: none;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.2);
        display: none;
    }
}

.progress {
    display: flex;
    align-items: center;
    width: 240px;
    height: 3px;
    background-color: #F5F5F5;
}

.progress>img {
    min-height: 20px;
}

.loader>.progress>img {
    animation: progress 2s cubic-bezier(.42, .49, 0, .99) forwards;
}

.no-compatible {
    display: none;
    position: absolute;
    background-color: white;
    align-items: center;
    z-index: 100;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}


.menu-mobile {
    display: none;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
}

.menu-button {
    padding: 0 16px;
    height: 100%;
    background-color: var(--accent-color);
    font-family: "Space Grotesk", sans-serif;
    border: none;
    border-radius: var(--border-radius);
    color: white;
}


.current-room {
    display: flex;
    flex-direction: column;
}

.current-room>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #5F5F5F;
}

.current-room>h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #030303;
}


.hourBar {
    width: 100%;
    height: 2px;
    background: blue;
    position: absolute;
    z-index: 999;
}


.lds-ripple {
    /* change color here */
    color: #1c4c5b
  }
  .lds-ripple,
  .lds-ripple div {
    box-sizing: border-box;
  }
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 8px;
      height: 8px;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 8px;
      height: 8px;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 8px;
      height: 8px;
      opacity: 1;
    }
    100% {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      opacity: 0;
    }
  }


  .absolute-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1000;

  }

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


@media screen and (max-width: 1024px) {
    body {
        padding: 0;
    }

    html,
    body {
        height: 100%;
        min-height: 100%;
    }

    .pannel {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 28px);
        height: calc(100% - 14px);
        border: none;
        min-width: auto;
        transition: transform 0.7s;
        transform: translateY(0);
    }

    .pannel.active {
        transform: translateY(100%);
    }

    .calendar {
        width: 100%;
        border: none;
        gap: 0;
    }

    .mobile-indicator {
        display: flex;
    }

    .date-picker>input {
        appearance: none;
        -webkit-appearance: none;
    }

    .calendar-container {
        border-radius: 0;
    }

    .avaibility-box {
        display: none;
    }

    .week-switcher {
        width: 100%;
        border: none;
        justify-content: space-between;
    }

    .menu-mobile {
        display: flex;
    }
}

@media screen and (max-height: 900px) {
    .campus_feed {
        height: 100px;
    }
}

@media screen and (max-height: 700px) {
    .course>p {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    .no-compatible {
        display: flex;
    }
}