#app > .panel {
    /* Global settings view rules */
    & > .settings {
        view-transition-name: panel-settings;
        width: 100%;
        padding: 24px;
    }
}

@keyframes slide-to-right {
    to {
        transform: translateX(100%);
    }
}

::view-transition-old(panel-settings) {
    animation: slide-to-right var(--animation-duration) forwards;
}

::view-transition-new(panel-settings) {
    animation: slide-to-right var(--animation-duration) reverse forwards ease-in;
}
