#app > .panel > .settings {
    view-transition-name: panel-settings;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0 24px 24px;

    & > .header {
        display: flex;
        align-items: center;
        gap: 12px;

        & > h1 {
            font-size: 20px;
            font-family: "Cal Sans";
            font-weight: normal;
            margin-block: 0;
        }
    }

    & > .options {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 12px;

        & .switch-container {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            align-items: center;

            & > .desc {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-size: 12px;
                font-weight: 500;
                color: var(--color-neutral-dark);

                & > h4 {
                    margin-block: 0;
                    font-size: 16px;
                    color: var(--color-on-surface);
                }
            }
        }
    }
}

@keyframes slide-to-right {
    to {
        transform: translateX(100%);
    }
}

::view-transition-group(panel-settings) {
	z-index: 100;
}

::view-transition-old(panel-settings) {
    animation: slide-to-right .3s forwards ease-out;
    background-color: var(--color-background);
}

::view-transition-new(panel-settings) {
    animation: slide-to-right .3s reverse forwards ease-in;
    background-color: var(--color-background);
}
