.button {
    position: relative;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: var(--on-accent-color);
    cursor: pointer;
    border: none;
    padding: 0px 18px;
    flex-shrink: 0;
}

.button:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 14px;
}

.button:has(:only-child) {
    padding: 0px 12px;
}

.button span {
    color: var(--on-accent-color);
    font-size: 14px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}

.button:hover {
    background-color: var(--accent-color-dark);
}

.button--loading span {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: var(--on-accent-color);
    border-radius: 50%;
    animation: spinner-loading 1s ease infinite;
}

@keyframes spinner-loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}