.card {
    border-radius: var(--border-radius);
    padding: 24px;
    background-color: var(--surface-color);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    gap: 24px;
}

.card.highlighted {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
}

.card.elevated {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-block: 0px;
}

.card .button {
    width: 100%;
}