.pie-chart {
    height: auto;
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.pie-chart .shape {
    width: 250px;
    border-radius: 100%;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}

.pie-chart .legend {
    flex-grow: 1;
    display: flex;
    gap: var(--large-space);
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.pie-chart .legend-item {
    height: min-content;
    display: flex;
    gap: var(--space);
    flex-wrap: nowrap;
    align-items: center;
}

.pie-chart .legend-color {
    height: 12px;
    width: 12px;
}