.pie-chart,
.bar-chart {
    height: auto;
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.pie-chart .shape {
    width: 250px;
    border-radius: 100%;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}

/* New */

.chart .legend {
    flex-grow: 1;
    display: flex;
    gap: var(--large-space);
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.chart .legend .item {
    height: min-content;
    display: flex;
    gap: var(--space);
    flex-wrap: nowrap;
    align-items: center;
}

.chart .legend .color {
    height: 12px;
    width: 12px;
}

.chart-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart,
.chart .container {
    width: 100%;
    height: 100%;
}

.chart .container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: relative;
    overflow-x: auto;
}

.chart.bar .group-container,
.chart.bar .y-axis,
.chart.bar .grid {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    max-width: 100px;
    flex-grow: 1;
    z-index: 1;
}

.chart.bar .shapes {
    display: flex;
    gap: 2px;
    align-items: end;
    flex-grow: 1;
    width: 100%;
}

.chart.bar .shape {
    transition: height 1s;
}

.chart.bar .x-axis,
.chart.bar .y-axis,
.chart.bar .grid {
    font-size: 14px;
}

.chart.bar .y-axis .labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.chart.bar .y-axis {
    flex-grow: 0;
    position: sticky;
    left: 0;
    background-color: var(--surface-color);
    z-index: 2;
    padding-right: 12px;
}

.chart.bar .y-axis .placeholder,
.chart.bar .grid .placeholder {
    color: transparent;
}

.chart.bar .grid,
.chart.bar .grid .lines {
    height: 100%;
    width: 100%;
}

.chart.bar .grid {
    position: absolute;
    max-width: unset;
    z-index: 0;
    overflow-x: scroll;
}

.chart.bar .grid .lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart.bar .grid .line {
    height: 2px;
    background-color: var(--border-color);
}

.chart.bar .scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
}