.results {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .results {
        padding-bottom: 24px;
    }
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    border: 1px solid var(--neutral-color);
    border-radius: var(--border-radius);;
    cursor: pointer;
}

.result.hidden {
    display: none;
}

.result:hover {
    background-color: var(--neutral-color-light);
}

.result>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bat {
    font-weight: 400;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ping {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: 4px;
}

.ping.red {
    background-color: #ff0000;
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.295);
}

.ping.blue {
    background-color: var(--accent-color);
    box-shadow: 0px 0px 0px 4px rgba(0, 38, 255, 0.295);
}

p.no-results {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}