.card {
    border-radius: var(--border-radius);
    padding: 24px;
    background-color: var(--surface-color);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    gap: 24px;
    position: relative;
}

.card.highlighted {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
}

.card.elevated {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-block: 0px;
}

.card .button {
    width: 100%;
}

.card .loader {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.card .loader::after {
    content: "";
    width: 24px;
    height: 24px;
    border: 4px solid #0000;
    border-top-color: var(--accent-color);
    border-radius: 50%;
    animation: 1s infinite spinner-loading;
}

@keyframes spinner-loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}