* {
    box-sizing: border-box;
}

.page.dashboard {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--on-background-color);
    display: flex;
}

@media screen and (max-width: 425px) {
    .large-screen-nav {
        display: none;
    }

    .page.dashboard {
        flex-direction: column;
    }
}

@media screen and (min-width: 426px) {
    .small-screen-nav {
        display: none;
    }
}