* {
    box-sizing: border-box;
}

.page.dashboard {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--on-background-color);
    display: flex;
    flex-direction: row;
}