@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5vw;
}

html,
body {
    font-family: 'Space Grotesk', sans-serif;
    touch-action: pan-x pan-y;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf #ffffff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --border-color: #F0F0F0;
    --sub-border-color: #E1E1E1;
    --border-radius: 12px;
    --accent-color: #3452FF;
}

.campus {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header>h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #000000;
    margin: 0;
}

.header>h3 {
    font-weight: 500;
    font-size: 1.3rem;
    color: #000000;
    margin: 0;
}

.campus-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.campus-item {
    display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: column;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s;
    outline-offset: 10px;
    outline: 3px solid transparent;
}

.campus-item:hover {
    outline: 3px solid var(--accent-color);
    outline-offset: 4px;
}

.image-container {
    overflow: hidden;
    height: 140px;
}

.image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.campus-item:hover .image-container>img {
    transform: scale(1.1);
}

.campus-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}

.campus-info>h3 {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin: 0;
    margin-left: 6px;
}

.badge {
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 14px;
    background-color: var(--accent-color);
    color: white;
}

.not-available {
    background-color: #C0392B;
}


.loader {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    background-color: white;
    pointer-events: none;
}

.loader.active {
    display: flex;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.progress {
    display: flex;
    align-items: center;
    width: 240px;
    height: 3px;
    background-color: #F5F5F5;
}



@media (max-width: 768px) {
    .campus {
        gap: 20px;
    }
    .header>h1 {
        font-size: 2.1rem;
    }

    .header>h3 {
        font-size: 1.1rem;
    }

    .campus-item {
        width: 100%;
    }

    .campus-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        width: 100%;
        gap: 20px;
    }
    .image-container {
        display: none;
    }
}